*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    font-family: 'Poppins', sans-serif;
}

nav {
    font-family: 'Ranchers', sans-serif;
}

.parallax {
    background-image: url("/images/background1.jpeg");
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax h1 {
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }


/* Parllax new section */

.container-fluid {
  margin: 20px;
}

#parallaxOne {
    background-image: url('../images/portfolio8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 650px;
    background-attachment: fixed;
}
#parallaxOne section {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#parallaxtwo {
  background-image: url('../images/portfolio9.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 650px;
  background-attachment: fixed;
}
#parallaxtwo section {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#parallaxthree {
  background-image: url('../images/portfolio7.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 650px;
  background-attachment: fixed;
}
#parallaxthree section {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#parallaxfour {
  background-image: url('../images/portfolio5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 650px;
  background-attachment: fixed;
}
#parallaxfour section {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

button.btn {
    font-size: 0.8rem;
} 

img {
    height: 650px;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-container {
  width: 100%;
  height: 8vh;
  background-color: darkgrey;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 30px;
}




