*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    font-family: 'Poppins', sans-serif;
}

nav {
    font-family: 'Ranchers', sans-serif;
}

.parallax {
    /* background-image: url("/images/websitebg.jpg"); */
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer-container {
    width: 100%;
    height: 8vh;
    background-color: darkgrey;
  }

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 30px;
  }

.row1 {
  justify-content: center;
  background-image: url(../images/portfolio8.jpg);
  min-height: 700px; 
  background-position: center center;
  width: 1500px
  
}

.row2 {
  justify-content: center;
  background-image: url(../images/portfolio7.jpg);
  min-height: 700px; 
  background-position: center center;
  width: 1500px
}

.row3 {
  justify-content: center;
  background-image: url(../images/portfolio6.jpg);
  min-height: 700px; 
  background-position: center center;
  width: 1500px
}



